<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>麻雀天眼通</title>
    {% endif %}
    <link
      href="{{ url_for('static', filename='favicon.ico') }}"
      rel="icon"
      type="image/vnd.microsoft.icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd"></script> -->
    <link href="{{ url_for('static', filename='styles/base.css') }}" rel="stylesheet">
  </head>

  <body class="bgColor">
    <div class="row" style="width: 780px; padding: 10px">
      <label for="selmodel" class="col-sm-1 col-form-label">模型</label>
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="col-sm-4">
        <select id="selmodel" disabled class="form-select" style="width: 200px">
          <option value="{{ url_for('static', filename='tfjsmodels/Base/model.json') }}">
            yolov5 Base
          </option>
          <option value="{{ url_for('static', filename='tfjsmodels/Adam/model.json') }}" selected>
            yolov5 Adam
          </option>
          <option value="{{ url_for('static', filename='tfjsmodels/AdamW/model.json') }}">
            yolov5 AdamW
          </option>
          <option value="{{ url_for('static', filename='tfjsmodels/sgd/model.json') }}">
            yolov5 sgd
          </option>
        </select>
      </div>
      <div class="col-sm-3">
        <input
          type="button"
          class="btn btn-outline-success"
          value="確定"
          onclick="btnClick()"
        />
      </div>
    </div>
    <div style="width: 98%; padding: 5px">
      <!-- <video autoplay muted id="video"></video> -->
      <!-- for iphone-->
      <video autoplay loop muted playsinline id="video"></video>
      <canvas
        id="output"
        onclick="btnClick()"
        style="position: absolute; top: 48; left: 0"
      ></canvas>
      <br />
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <table
        id="ans"
        class="table table-primary table-striped"
        style="margin: 5px; width: 630px; display: none"
      >
        <thead>
          <tr>
            <td style="width: 100px">id</td>
            <td>name</td>
            <td>score</td>
            <td>box</td>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script>
      const color = [
        "green",
        "yellow",
        "red",
        "blue",
        "Pink",
        "Tomato",
        "Violet",
        "MediumSlateBlue",
        "LightGreen",
        "Aquamarine",
      ];
      let colorIndex = -1;
      const nametoid = [
        "dot1",
        "dot2",
        "dot3",
        "dot4",
        "dot5",
        "dot6",
        "dot7",
        "dot8",
        "dot9",
        "bamboo1",
        "bamboo2",
        "bamboo3",
        "bamboo4",
        "bamboo5",
        "bamboo6",
        "bamboo7",
        "bamboo8",
        "bamboo9",
        "character1",
        "character2",
        "character3",
        "character4",
        "character5",
        "character6",
        "character7",
        "character8",
        "character9",
        "windeast",
        "windsouth",
        "windwest",
        "windnorth",
        "dragonred",
        "dragongreen",
        "dragonwhite",
        "springflower",
        "summerflower",
        "fallflower",
        "winterflower",
        "Plumflower",
        "Orchidflower",
        "Chrysanthemumflower",
        "Bambooflower",
      ];
      const names = [
        "Bambooflower",
        "Chrysanthemumflower",
        "Orchidflower",
        "Plumflower",
        "bamboo1",
        "bamboo2",
        "bamboo3",
        "bamboo4",
        "bamboo5",
        "bamboo6",
        "bamboo7",
        "bamboo8",
        "bamboo9",
        "character1",
        "character2",
        "character3",
        "character4",
        "character5",
        "character6",
        "character7",
        "character8",
        "character9",
        "dot1",
        "dot2",
        "dot3",
        "dot4",
        "dot5",
        "dot6",
        "dot7",
        "dot8",
        "dot9",
        "dragongreen",
        "dragonred",
        "dragonwhite",
        "fallflower",
        "springflower",
        "summerflower",
        "windeast",
        "windnorth",
        "windsouth",
        "windwest",
        "winterflower",
      ];
      let anslist = [];
      let stop = false;
      function btnClick() {
        stop = true;
      }

      function send_to_ui() {
        // alert(JSON.stringify(anslist));
        let uidata = { inIds: [], outIds: [], lastId: 0 };
        anslist.forEach((a, i) => {
          switch (a.titleType) {
            case 1:
              uidata.outIds.push(a.id);
              break;
            case 2:
              uidata.inIds.push(a.id);
              break;
            case 3:
              uidata.lastId = a.id;
              break;
            default:
              break;
          }
        });
        let queryString = `?outIds=${uidata.outIds.join(
          ","
        )}&inIds=${uidata.inIds.join(",")}${
          uidata.lastId != 0 ? "&lastId=" + uidata.lastId : ""
        }`;
        window.location.href = `{{ url_for('ans') }}${queryString}`;
        //alert(queryString);
        anslist = [];
        stop = false;
      }

      async function setupWebcam() {
        video = document.getElementById("video");
        const stream = await navigator.mediaDevices.getUserMedia({
          audio: false,
          video: {
            width: 640,
            height: 640,
            frameRate: {
              ideal: 60,
              min: 10,
            },
            facingMode: "environment",
          },
        });
        video.srcObject = stream;

        return new Promise((resolve) => {
          video.onloadedmetadata = () => {
            resolve(video);
          };
        });
      }

      async function detect() {
        await tf.nextFrame();
        const tfImg = tf.browser.fromPixels(video);
        const smallImg = tf.image.resizeBilinear(tfImg, [640, 640]);
        const tf4d_ = smallImg.div(255.0).expandDims(0);
        const tf4d = tf.cast(tf4d_, "float32");

        let predictions = await model.executeAsync(tf4d);
        let predictionBoxes = predictions[0].dataSync();
        let predictionClasses = predictions[2].dataSync();
        let predictionScores = predictions[1].dataSync();

        canvas.width = video.clientWidth;
        canvas.height = video.clientHeight;
        ctx.font = canvas.width / 40 + "px Arial";
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        console.log("-----------------");
        colorIndex = -1;
        let $tbody = $("#ans > tbody");
        let anslistTmp = [];
        $tbody.empty();

        for (let i = 0; i < predictionScores.length; i++) {
          const score = predictionScores[i] * 100;
          const name = names[predictionClasses[i]];
          const id = nametoid.findIndex((str, idx) => str == name) + 1;
          let box = [
            (predictionBoxes[i * 4] * canvas.width).toFixed(0),
            (predictionBoxes[i * 4 + 1] * canvas.height).toFixed(0),
            (
              (predictionBoxes[i * 4 + 2] - predictionBoxes[i * 4]) *
              canvas.width
            ).toFixed(0),
            (
              (predictionBoxes[i * 4 + 3] - predictionBoxes[i * 4 + 1]) *
              canvas.height
            ).toFixed(0),
          ];
          if (score > 10) {
            console.log(Math.round(score.toFixed(3)) + "% / " + name);
          }

          if (score > 10 && score < 100) {
            colorIndex += 1;
            if (colorIndex > color.length - 1) {
              colorIndex = 0;
            }
            const boxcolor = color[colorIndex];

            ctx.beginPath();
            ctx.rect(...box);
            ctx.lineWidth = 5;
            ctx.strokeStyle = boxcolor;
            ctx.fillStyle = boxcolor;
            ctx.stroke();
            ctx.fillText(
              names[predictionClasses[i]] +
                " / " +
                Math.round(score.toFixed(3)) +
                "% ",
              box[0],
              box[1] - 5
            );
            let ans = {
              id: id,
              name: name,
              score: Math.round(score.toFixed(3)),
              color: boxcolor,
              pbox: [
                predictionBoxes[i * 4],
                predictionBoxes[i * 4 + 1],
                predictionBoxes[i * 4 + 2],
                predictionBoxes[i * 4 + 3],
              ],
            };
            anslistTmp.push(ans);
          }
        }
        let minY1 = Math.min(...anslistTmp.map((v) => v.pbox[1]));
        let minY2 = Math.min(...anslistTmp.map((v) => v.pbox[3]));
        let maxY1 = Math.max(...anslistTmp.map((v) => v.pbox[1]));
        let maxY2 = Math.max(...anslistTmp.map((v) => v.pbox[3]));

        anslistTmp = anslistTmp.map((a, i) => {
          let ay1 = a.pbox[1];
          let ay2 = a.pbox[3];
          if (ay1 > minY2) a.ysort = 1;
          else a.ysort = 0;
          return a;
        });

        anslistTmp = anslistTmp.sort((a, b) => {
          if (a.ysort === b.ysort) return a.pbox[0] - b.pbox[0];
          return a.ysort - b.ysort;
        });

        let ysortMax = Math.max(...anslistTmp.map((v) => v.ysort));
        let titleType = 2 - ysortMax;

        for (let i = 0; i < anslistTmp.length; i++) {
          const ans = anslistTmp[i];
          let ay1 = ans.pbox[1];
          let ay2 = ans.pbox[3];
          if (i == anslistTmp.length - 1) {
            titleType = 3;
          } else if (ans.ysort > 0) {
            titleType = 2;
          }
          ans.titleType = titleType;
          let txt = "";
          switch (titleType) {
            case 1:
              txt = "吃 碰 牌";
              break;
            case 2:
              txt = "手牌";
              break;
            case 3:
              txt = "胡牌";
              break;

            default:
              break;
          }
          
          $tbody.append(
            `<tr><td style="color: ${ans.color};">${ans.id}</td><td>${
              ans.name
            }</td><td>${
              Math.round(ans.score.toFixed(3)) + "%"
            }</td><td>${txt}</td></tr>`
          );
        }
        
        tfImg.dispose();
        smallImg.dispose();
        tf4d.dispose();

        if (stop) anslist = anslistTmp;
        if (stop) {
          send_to_ui();
          return;
        }

        requestAnimationFrame(detect);
      }

      async function app() {
        await setupWebcam();
        video.play();
        videoWidth = video.videoWidth;
        videoHeight = video.videoHeight;
        video.width = videoWidth;
        video.height = videoHeight;

        canvas = document.getElementById("output");
        canvas.width = videoWidth;
        canvas.height = videoHeight;
        ctx = canvas.getContext("2d");
        ctx.font = "20px Arial";

        //modelcoco = await cocoSsd.load();
        async function loadModel() {
          $(".spinner-border").show();
          $("table").hide();
          $("#selmodel").prop("disabled", true);
          $("canvas").hide();
          console.log(`loadModel start ${$("#selmodel").val()} `);
          return await tf.loadGraphModel($("#selmodel").val(), {
            onProgress: function (fraction) {
              if (fraction == 1) {
                $(".spinner-border").hide();
                $("table").show();
                $("#selmodel").prop("disabled", false);
                $("canvas").show();
                console.log(`loadModel end ${$("#selmodel").val()} `);
              }
            },
          });
        }
        model = await loadModel();
        $("#selmodel").change(async function () {
          model = await loadModel();
        });
        detect();
      }
      app();
    </script>
  </body>
</html>
