{% extends "base.html" %}

{% block content %}
    <table class="table-light">
        <tr>
            <td><img src="{{ user.avatar(200) }}" alt=""></td>
            <td>
                <p>
                    <b>Email : </b>{{ user.email }}
                </p>

                {% if user.create_time %}
                <p>
                    <b>Joined time : </b>{{ user.create_time.strftime("%Y/%m/%d %H:%M:%S") }}
                </p>
                {% endif %}

                {% if user==current_user %}
                <a href="{{ url_for('profile', username=current_user.username) }}">Edit your Profile
                    <img src="{{ url_for('static', filename='icons/profileEdit.png') }}" alt="">
                </a>
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}